[submodule "opt/git-amend-old"]
	path = opt/git-amend-old
	url = git@github.com:paven/git-amend-old.git
[submodule ".vim/vim-fugitive"]
	path = .vim/vim-fugitive
	url = git@github.com:tpope/vim-fugitive.git
