[user]
	email = patrik.gustafsson@purplescout.se
	name = Patrik Gustafsson
[core]
	whitespace = trailing-space,space-before-tab
	quotepath = off
[apply]
	whitespace = fix
[merge]
	ff = only
	tool = vimdiff
[apply]
	whitespace = fix
[branch "master"]
	mergeoptions = --ff-only
[push]
	default = simple
[branch]
	autosetuprebase = always
[alias]
b =!birgit
bir =!birgit
birgit =!birgit

[diff "xlsx"]
	binary=true
	textconv =/usr/bin/unoconv -f csv --stdout
